*{
    margin:0;
    padding:0;
    border: 0;
    font-size:14px;
}
#body{
    height:auto;
}
#clear{
    clear: both;
}
.content{
    background: #fff;
    padding:10px;
}
.icon1{
    background: #303338;
    height:25px;
    margin-bottom: 10px;
}
.icon1>span{
    font-size: 12px;
    color: #fff;
    padding-left: 25px;
    vertical-align: middle;
}
.content>img{
    float: left;
}
.content_right{
    float: left;
    width:640px;
    margin-left: 20px;
}
.col{
    height:116px;
    border-bottom:1px dotted #000;
    margin-bottom: 10px;
}
.col>p{
    margin-top: 20px;
    margin-left: 10px;
}
.content_title{
    width:156px;
    height:25px;

}
.content_title>span{
    display: block;
    padding-left: 20px;
    color: #fff;
    line-height: 25px;
    font-size: 12px;
}
.content_title1{
    background: url("../imgs/houqing-logo1.jpg") no-repeat;
}
.content_title2{
    background: url("../imgs/houqing-logo2.jpg") no-repeat;
}
.content_title3{
    background: url("../imgs/houqing-logo3.jpg") no-repeat;
}