*{
    margin: 0;
    padding:0;
    border:0;
    font-family:"微软雅黑";
    list-style-type: none;
    color: #333;
}
#body{
    width:980px;
    height: 1046px;
    margin:0 auto;
    background:url(imgs/bg.png ) repeat-y;
}
        /***head****/
#head{
    background: url(imgs/1_03.png);
    height:36px;
}
#head>ul{
    margin-left: 78px;
}
#head>ul>li{
    color: #fff;
    font-size:12px;
    float: left;
    line-height: 36px;
    margin-left:25px;
}

#main{
    margin:10px 10px;
    position: relative;
}
        /**banner**/
#banner{
     width:730px;
    height:259px;
    background-color: #ffffff;
    padding-top: 7px;
 }
#banner>img{
    width:718px;
    height:251px;
    display: block;
    margin:0 auto;

}
#shade_up{
    position: absolute;
    background-color: #ffffff;
    opacity:0.35;
    width:718px;
    height:14px;
    z-index: 9999;
    margin-left: 6px;

}
#shade_down{
    position: absolute;
    background-color: #ffffff;
    opacity:0.35;
    width:718px;
    height:30px;
    z-index: 9999;
    margin-left: 6px;
    margin-top: 222px;
}

        /***title*****/

#title{
    background-color:#fff;
    position: absolute;
    top:0px;
    left:740px;
    height:256px;
    width: 210px;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
}
#title_h{
    height: 25px;
    line-height: 25px;
    padding-left: 25px;
    color: #fff;
    background:#303338;
    border-radius: 3px;
}
#title_h>span{
    color: #fff;
    text-align: right;
    vertical-align: middle;
    font-size: 10px;
    display: inline-block;
    margin-left: 100px;
    opacity: 0.7;
}
#title>ul{
    height:240px;
}
.title_li>img{
    /*display: inline-block;*/
    border:1px solid #303338;
    align-self: center;
}
.title_li1,.title_li2,.title_li3,.title_li4{
    display: flex;
    height:47px;
    border-bottom:1px dashed #b6b6b6 ;
    vertical-align: middle;
    line-height: 47px;
}
.title_li5{
    display: flex;
    height:47px;
    vertical-align: middle;
    line-height: 47px;
}
#icon{
    position: absolute;
    left:200px;
    top:30px;
}
.icon{
    display: flex;
    height:47px;
    vertical-align: middle;
    line-height: 47px;
}

        /***notic**/

#notic{
    background: url(imgs/1.png) no-repeat;
    display: flex;
    height:35px;
    margin-top: 8px;
}
#notic>p{
    width:100px;
    position: relative;
    left:50px;
    align-self: center;
}
#notic>marquee{
    align-self: center;
    width:800px;
    margin-left: 50px;
}

        /**content***/

#content{
    font-size: small;
    margin-top: 10px;
    position: relative;

}
#content_1{
    background-color: #ffffff;
    width:274px;
    height:270px;
    border-radius: 3px;
    padding-top: 5px;
    position: absolute;
}
.icon2{
    position: absolute;
}
.header1{
    border-radius: 3px;
    background-image: url(imgs/1_08.png);
    width:245px;
    height:25px;
    line-height: 25px;
    font-size: smaller;
    color: #fff;
    margin: auto;
    padding-left: 25px;
}
.header1>span{
    text-align: right;
    vertical-align: middle;
    font-size: 10px;
    display: inline-block;
    margin-left: 160px;
    color: #fff;
    opacity: 0.7;
}
.image{
    margin:0 auto;
    display: block;
    padding-top: 5px;
}
#content_1>p{
    width:263px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top:8px;

}
#content_2,#content_3,#content_4{
    background-color: #fff;
    width: 220px;
    height: 270px;
    border-radius:3px;
    padding-top: 5px;
}
/*相对content定位不是main*/
#content_2>p,#content_3>p,#content_4>p{
    width: 205px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    top:8px;
}
.header{
    height:25px;
    width:220px;
    line-height: 25px;
    font-size: smaller;
    padding-left: 25px;
    font-weight: bold;

}
.more{
    color: #4d4d4d;
    font-size: smaller;
    position: absolute;
    left: 165px;
    top:66px;
}
#content_2{
    position: absolute;
    left:284px;                 /*间距7px*/
}
#content_3{
     position: absolute;
     left:512px;
 }
#content_4{
    position: absolute;
    left:740px;
}

            /***news***/
#news{
    width: 723px;
    position: relative;
    top:286px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
}
.news_1{
    width: 723px;
    height: 25px;
    line-height: 25px;
    background-color: #303338;
    border-radius: 3px;
}
.news_1>p{
    position: absolute;
    left:25px;
    color: #fff;
    font-size: smaller;
}
.news_1>span{
    color: #fff;
    font-size: 10px;
    position: relative;
    left:680px;
    opacity: 0.7;
}
.news_2,.news_3,.news_4,.news_5,.news_6,.news_7{
    padding-left: 25px;
    background: url(imgs/1-36.png) no-repeat;
    height:30px;
    line-height: 30px;
    position: relative;
}
.news_2>span,.news_3>span,.news_4>span,.news_5>span,.news_6>span,.news_7>span{
    width:70px;
    position:absolute;
    right: 8px;
}
#border_btm{
    width:723px;
    position: absolute;
    top:47px;
    overflow: hidden;
}
.border_btm{
    height:30px;
}

/**contact**/

#contact{
    position:relative;
    left: 740px;
    top:71px;
    background-color: #fff;
    width: 210px;
    height: 205px;
    border-radius: 3px;
    padding: 5px;
}
#header{
    background-color: #303338;
    height: 25px;
    border-radius: 3px;
}
#header>p{
    position: relative;
    left: 25px;
    color: #fff;
    font-size: smaller;
    line-height: 25px;
}
#header>p>span{
    color: #fff;
    font-size: 10px;
    position: relative;
    left:100px;
    opacity: 0.7;
}
#contact_1,#contact_2,#contact_3{
    border:1px solid #b6b6b6;
    height: 48px;
    margin-top: 8px;
    border-radius: 3px;
    padding-left: 12px;
    padding-top: 2px;
}
/***  footer  ****/
#footer{
    width: 959px;
    height:87px;
    background-color: #303338;
    position: absolute;
    top:830px;
    border-radius: 3px;
}
#footer>.p1{
    color: #fff;
    margin:0 auto;
    width:276px;
    font-size: smaller;
    position: relative;
    top:20px;
}
#footer>.p2{
    color: #fff;
    width:245px;
    font-size:smaller;
    margin:0 auto;
    position: relative;
    top:23px;
}